body{
	width:100%;
	margin: 0px 0px;
}


/*This css related to the position of elements in the header of the page. It uses flexbox to space out the menu, the page title and the favourites menu*/
.header{
	display: block;
	flex-direction: row;
	justify-content: space-between;
}


.title{
  text-align: center;
  background-color: grey;
  font-size: 20pt;
	align-items: center;
}
/*This css is for hamburger menu which opens up and closes with smooth transitions. It uses postioning to make it fix it in a certain place on the screen
which makes it easier to animate an expanding background. The postioning of the various elements are controlled using the z-index which determines where
they are based on the z axis (ie if theyre infront or behind other elements). The line class uses three lines which make up the burger shape which are then
transformed into an X shape when the change class is toggled when the button is pressed, by using the transform command and slightly adjusting where it is on
the Y axis to make it look cleaner. The change class also affects the visability of the menu links when it is activated, making it usable and visable, aswell as
adding a background which expands to block out the entire page besides the links. */
#burgerMenu{
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	position: fixed;
	z-index: 300;
	top: 5px;
	left: 5px;
}

.line{
	background-color: black;
	width: 100%;
	height:10px;
	border-radius: 15% 15% 15% 15%;
	transform-origin: right;
	transition: all 0.2s;
}

.change .line-1{
	transform: rotate(-45deg) translateY(7.5px) ;
	position: relative;
	left: -8px;

}
.change .line-2{
	opacity: 0;
}
.change .line-3{
	transform: rotate(45deg) translateY(-7.5px);
	position: relative;
	left: -8px;
}

.linkList{
	 list-style: none;
	 position: fixed;
	 z-index: 200;
	 height: 100vh;
	 width: 100vw;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 list-style: none;
	 margin: 10px 0;
	 opacity: 0;
	 visibility: hidden;
	 transition: 0.2s;
 }

 .change .linkList{
	 opacity: 1;
	 visibility: visible;
	 transition: 0.5s;
 }

.menulink{
	margin: 1.5vh 0vh;

}
.cover{
	width: 50px;
	height: 50px;
	background-color: rgba(144, 144, 144, 0.99);
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 100;
	transition: 0.5s;
}

.change .cover{
	transform: scale(100);
	transition: transform 0.5s;
}

li{
    margin-bottom: 10vh;
		font-size: 18pt;
}

/**/
.fav{
  background-color: black;
}

.fav-menu-icon{
  width:75px;
  height:75px;
}

.welcomePara{
	font-size: 18pt;
	text-align: center;

}

.quickRiffAndCover{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#quickRiff{
	width: 45vw;
	height: 40vh;
	background-size: fill;
	margin-left: 30px;
	margin-right: 30px;
}

#cotd{
	width: 45vw;
	height: 40vh;
	background-size: fill;
	margin-right: 30px;
	margin-left: 30px;
}

.riffTab{
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 90;
	position: absolute;
	visibility: hidden;
}

.riffOne .riff-1{
	opacity: 1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}

.riffTwo .riff-2{
	opacity:1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}

.riffThree .riff-3{
	opacity:1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}


/**/
.coverTab{
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 90;
	position: absolute;
	visibility: hidden;
}

.coverOne .cover-1{
	opacity: 1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}

.coverTwo .cover-2{
	opacity:1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}

.coverThree .cover-3{
	opacity:1;
	position: absolute;
	top:30;
	left:1;
	right:1;
	width: 45vw;
	height: 40vh;
	visibility: visible;
}

/**/

#instagram{
	width:5%;
	height:5%;
}

#facebook{
	width:5%;
	height:5%;
}

/**/

#guitarImg{
	width: 20%;
	height:20%;
	align-content: center;
	display: inline;
	float: left;
}

.infoButton{
	display: flex;
	flex-flow: column;
	float: left;
	justify-content: space-between;
}

.spacer{
	width: 20px;
	height:5vh;
}

.infoBox{
}

.infoBox-1{
	width: 60vw;
	height: 40vh;
	float: left;
	margin: 0px 0px 0px 30vw;
	position: absolute;
	opacity: 0;
	border: 1px black solid;
	border-radius: 10px;
}

.infoBox-2{
	width: 60vw;
	height: 40vh;
	float: left;
	margin: 0px 0px 0px 30vw;
	position: absolute;
	opacity: 0;
	border: 1px black solid;
	border-radius: 10px;
}

.infoBox-3{
	width: 60vw;
	height: 40vh;
	float: left;
	margin: 0px 0px 0px 30vw;
	position: absolute;
	opacity: 0;
	border: 1px black solid;
	border-radius: 10px;
}

.infoHeader{
	text-align: center;
}

.infoText{
	margin:10px;
}

.changeInfo-1 .infoBox-1{
	opacity:1;
}

.changeInfo-2 .infoBox-2{
	opacity:1;
}

.changeInfo-3 .infoBox-3{
	opacity:1;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color:rgb(209, 209, 209);
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

.ansOne #correctQOne{
	background-color: green;

}
.ansOne .wrongQ{
	background-color: red;
}

.ansTwo #correctQTwo{
	background-color: green;

}
.ansTwo .wrongQ{
	background-color: red;
}
.ansThree #correctQThree{
	background-color: green;

}
.ansThree .wrongQ{
	background-color: red;
}
.ansFour #correctQFour{
	background-color: green;

}
.ansFour .wrongQ{
	background-color: red;
}
.ansFive #correctQFive{
	background-color: green;

}
.ansFive .wrongQ{
	background-color: red;
}
.ansSix #correctQSix{
	background-color: green;

}
.ansSix .wrongQ{
	background-color: red;
}
.ansSeven #correctQSeven{
	background-color: green;

}
.ansSeven .wrongQ{
	background-color: red;
}
.ansEight #correctQEight{
	background-color: green;

}
.ansEight .wrongQ{
	background-color: red;
}
.ansNine #correctQNine{
	background-color: green;

}
.ansNine .wrongQ{
	background-color: red;
}
.ansTen #correctQTen{
	background-color: green;

}
.ansTen .wrongQ{
	background-color: red;
}

#results{
	display: inline;
	font-size: 20pt;
}

#resultContainer{
	text-align: center;
	font-size: 20pt;
	padding:10px;
	border: 5px black solid;
	margin: 20px 20px;
	display: block;
}

.question{
	text-align: center;
	border: 5px solid black;
	border-radius: 5px;
	margin: 5px 3px;
}

#submit{
	width: 30vw;
	height: 30vh;
	text-align: center;
	font-size: 20pt;
}

.endContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
